@keyframes breathe {
    0% { /* starting state */
        opacity: 0.1;
    }
    100% { /* ending state */
        opacity: 0.35;
    }
}

body {
    background-color: black;
} /* for testing purposes only, to be changed to transparent when used (use "background-color: rgba(0, 0, 0, 0)" in your custom CSS setting) */

#picture {
    margin: 8% 20%;
    width: 60%;
    height: 84%;
    animation: breathe 4s cubic-bezier(.64,.01,.62,.99) 0s alternate infinite; /* plays the animation */
    filter: invert(100%); /* the picture is black, we want it white (yeah I could just change the PNG picture but whatever lol) */
}